{% extends "base.html" %}
{% load mptt_tags %}
{% load contract_management_tags %}
{% load hospital_package_service_management_tags %}
{% load common_tags %}
{% load i18n %}

{% block breadcrumb %}
    {% if request.user.user_type == 10 or request.user.user_type == 18 %}
        <li class="breadcrumb-item">
            <a href="{% url 'contract_management:contract_hospital_confir_list' %}">
                {% trans "Все страховые контракты" %}
            </a>
        </li>
    {% else %}
        <li class="breadcrumb-item">
            <a href="{% url 'contract_management:pro_med_contract_hospital_confir_list' %}">{% trans "Список контрактов" %}</a>
        </li>
    {% endif %}

    <li class="breadcrumb-item">
        <a href="{% url 'contract_management:pro_med_contract_hospital_package_list' contract_hospital=contract_hospital.id hospital=hospital.id %}">
            {{ contract_hospital.program }}
        </a>
    </li>
    <li class="breadcrumb-item active">
        <a href="">
           {% trans " Oбщая цена" %}sdsd
        </a>
    </li>
{% endblock %}

{% block content %}

    <style>
        input{
            width: 50px
        }
    </style>
<div class="contentbar" style="margin-top: 0px;">
    <div class="card" style="padding: 10px;">
        <div class="row mt-3">
            <!-- {% if request.user.user_type == 10 %}
                {% if hospital_package.status == 1 %}
                <button class="btn btn-sm btn btn-primary btn-right-ab ">
                    Ожидание
                </button>
                {% elif hospital_package.status == 2 %}
                    <button class="btn btn-sm btn btn-success change-status-package btn-right-ab " data-id="3">
                        Подтверить заявку
                    </button>
                {% elif hospital_package.status == 3 %}
                    <button class="btn btn-sm btn btn-info btn-right-ab ">
                        Заявка подтверждена
                    </button>
                {% elif hospital_package.status == 4 %}
                    <a href="{% url 'contract_management:hospital_package_service_export' hospital_package=hospital_package.id %}" class="btn-right-ab  btn btn-sm btn btn-success">
                        Контракт подписан, скачать как excel
                    </a>
                {% endif %}
            {% else %}
                {% if hospital_package.status == 1 %}
                <button class="btn-right-ab  btn btn-sm btn btn-primary change-status-package" data-id="2">
                    Отправить заявку  в поликлинику, {{ hospital }}
                </button>
                {% elif hospital_package.status == 2 %}
                    <button class="btn-right-ab  btn btn-sm btn btn-success">
                        Отправлена заявка к больнице
                    </button>
                {% elif hospital_package.status == 3 %}
                    <button class="btn-right-ab  btn btn-sm btn btn-info change-status-package" data-id="4">
                        Подписать контракт
                    </button>
                {% elif hospital_package.status == 4 %}
                    <a href="{% url 'contract_management:hospital_package_service_export' hospital_package=hospital_package.id %}" class="btn-right-ab btn btn-sm btn btn-success">
                        Контракт подписан, скачать как excel
                    </a>
                {% endif %}
            {% endif %} -->
            <div class="col-md-12">
                <div class="scroll-table">
                    <table class="table table-bordered treetable mb-0">
                        <tr>
                            <th rowspan="2" colspan="1" style="width: 170px;"class="text-center"><div style="margin-top: 95px;">{% trans "Коды услуг" %}</div></th>
                            <th rowspan="2" class="text-center" style="width: 250px;"><div style="margin-top: 95px;">{% trans "Названия услуг" %}</div></th>
                            <th colspan="5" class="text-center green">{% trans "Общая цена страховой компании" %}</th>
                            <th colspan="5" class="text-center yellow">{% trans "Общая цена клиники" %}</th>
                            <th colspan="5" class="text-center bg-red">{% trans "Итоговая общая цена" %}</th>
                            <th rowspan="2" colspan="1" class="text-center" style="width: 50px;"></th>
                        </tr>
                        <tr>
                            <th rowspan="2" class="green"><div class="rotate" >{% trans "Базовая цена" %}</div></th>
                            <th rowspan="2" class="green"><div class="rotate"style="margin-top: 32px;">{% trans "На дому" %}</div></th>
                            <th rowspan="2" class="green"><div class="rotate"style="margin-top: 45px;">{% trans "ПМСП" %}</div></th>
                            <th rowspan="2" class="green"><div class="rotate" >{% trans "Амбулаторно" %}</div></th>
                            <th rowspan="2" class="green"><div class="rotate" >{% trans "Стационарно" %}</div></th>
                            <!-- <th rowspan="2" class="rotate green" rowspan="2">Лимит услуг</th> -->
                            <th rowspan="2" class="yellow"><div class="rotate" >{% trans "Базовая цена" %}</div></th>
                            <!-- <th colspan="4" class="text-center green">Ценовой коэффициент</th> -->
                            <th rowspan="2" class="yellow"><div class="rotate"style="margin-top: 32px;">{% trans "На дому" %}</div></th>
                            <th rowspan="2" class="yellow"><div class="rotate"style="margin-top: 45px;">{% trans "ПМСП" %}</div></th>
                            <th rowspan="2" class="yellow"><div class="rotate" >{% trans "Амбулаторно" %}</div></th>
                            <th rowspan="2" class="yellow"><div class="rotate" >{% trans "Стационарно" %}</div></th>
                            <!-- <th rowspan="2" class="rotate green" rowspan="2">Лимит услуг</th> -->
                            <th rowspan="2" class="bg-red"><div class="rotate">{% trans "Базовая цена" %}</div></th>
                            <!-- <th colspan="4" class="text-center bg-red">Ценовой коэффициент</th>
                             -->
                            <th rowspan="2" class="bg-red"><div class="rotate"style="margin-top: 32px;">{% trans "На дому" %}</div></th>
                            <th rowspan="2" class="bg-red"><div class="rotate"style="margin-top: 45px;">{% trans "ПМСП" %}</div></th>
                            <th rowspan="2" class="bg-red"><div class="rotate" >{% trans "Амбулаторно" %}</div></th>
                            <th rowspan="2" class="bg-red"><div class="rotate">{% trans "Стационарно" %}</div></th>
                        </tr>
                    </table>
                    <div class="scroll-table-body">
                        <table class="table table-bordered treetable mt-0" id="service-table">
                            <tbody>
                                {% for service in services %}
                                    {% get_program_package_service contract_hospital.program service as program_package_service_blank  %}
                                    {% get_hospital_package_service contract_hospital.hospital service as hospital_package_service_blank  %}
                                    {% get_contract_hospital_package_service hospital_package.id service as contract_hospital_package_service %}
                                    <tr data-tt-id="{{ service.id }}" data-tt-parent-id='{{ service.parent.id }}'>
                                        <td style="width:170px;height: 30px;">
                                            {% if not service.is_leaf_node %}
                                                <span class='folder'>
                                                    {{ service.code }}
                                                </span>
                                            {% else %}
                                                <span class='file'>
                                                    {{ service.code }}
                                                </span>
                                            {% endif %}
                                        </td>
                                        <td style="width:250px;">{{ service.title }}</td>

                                        <td class="green">
                                            {% if service.is_leaf_node %}
                                                {% if contract_hospital_package_service.insurance_base_price %}
                                                    <input type="text" name="insurance_base_price"class="package-service-customize input-furm"
                                                        value="{{ contract_hospital_package_service.insurance_base_price }}">
                                                {% else %}
                                                    <input type="text" name="insurance_base_price"class="package-service-customize input-furm"
                                                        value="{{ program_package_service_blank.vhi_price|default_if_none:'' }}">
                                                    
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                        <td class="green">
                                            {% if service.is_leaf_node %}
                                                {% if contract_hospital_package_service.insurance_at_home_coefficient %}
                                                    <input type="text" name="insurance_at_home_coefficient"class="package-service-customize input-furm"
                                                        value="{{ contract_hospital_package_service.insurance_at_home_coefficient }}">
                                                {% else %}
                                                    <input type="text" name="insurance_at_home_coefficient"class="package-service-customize input-furm"
                                                        value="{{ hospital_package_service_blank.vhi_at_home_coefficient|default_if_none:'' }}">
                                                    
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                        <td class="green">
                                            {% if service.is_leaf_node %}
                                                {% if contract_hospital_package_service.insurance_primary_health_care_coefficient %}
                                                    <input type="text" name="insurance_primary_health_care_coefficient"class="package-service-customize input-furm"
                                                        value="{{ contract_hospital_package_service.insurance_primary_health_care_coefficient }}">
                                                {% else %}
                                                    <input type="text" name="insurance_primary_health_care_coefficient"class="package-service-customize input-furm"
                                                        value="{{ hospital_package_service_blank.vhi_primary_health_care_coefficient|default_if_none:'' }}">
                                                    
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                        <td class="green">
                                            {% if service.is_leaf_node %}
                                                {% if contract_hospital_package_service.insurance_clinical_diagnostic_coefficient %}
                                                    <input type="text" name="insurance_clinical_diagnostic_coefficient"class="package-service-customize input-furm"
                                                        value="{{ contract_hospital_package_service.insurance_clinical_diagnostic_coefficient }}">
                                                {% else %}
                                                    <input type="text" name="insurance_clinical_diagnostic_coefficient"class="package-service-customize input-furm"
                                                        value="{{ hospital_package_service_blank.vhi_clinical_diagnostic_coefficient|default_if_none:'' }}">
                                                    
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                        <td class="green">
                                            {% if service.is_leaf_node %}
                                                {% if contract_hospital_package_service.insurance_hospital_coefficient %}
                                                    <input type="text" name="insurance_hospital_coefficient"class="package-service-customize input-furm"
                                                        value="{{ contract_hospital_package_service.insurance_hospital_coefficient }}">
                                                {% else %}
                                                    <input type="text" name="insurance_hospital_coefficient"class="package-service-customize input-furm"
                                                        value="{{ hospital_package_service_blank.vhi_hospital_coefficient|default_if_none:'' }}">
                                                    
                                                {% endif %}
                                            {% endif %}
                                        </td>


                                        <td class="yellow">
                                            {% if service.is_leaf_node %}
                                                {% if contract_hospital_package_service.hospital_price %}
                                                    <input type="text" name="hospital_price"class="package-service-customize input-furm"
                                                        value="{{ contract_hospital_package_service.hospital_price }}">
                                                {% else %}
                                                    <input type="text" name="hospital_price"class="package-service-customize input-furm"
                                                        value="{{ hospital_package_service_blank.vhi_price|default_if_none:'' }}">
                                                    
                                                {% endif %}
                                            {% endif %}
                                        </td>

                                        <td class="yellow">
                                            {% if service.is_leaf_node %}
                                                {% if contract_hospital_package_service.hospital_at_home_coefficient %}
                                                    <input type="text" name="hospital_at_home_coefficient"class="package-service-customize input-furm"
                                                        value="{{ contract_hospital_package_service.hospital_at_home_coefficient }}">
                                                {% else %}
                                                    <input type="text" name="hospital_at_home_coefficient"class="package-service-customize input-furm"
                                                        value="{{ hospital_package_service_blank.vhi_at_home_coefficient|default_if_none:'' }}">
                                                    
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                        <td class="yellow">
                                            {% if service.is_leaf_node %}
                                                {% if contract_hospital_package_service.hospital_primary_health_care_coefficient %}
                                                    <input type="text" name="hospital_primary_health_care_coefficient"class="package-service-customize input-furm"
                                                        value="{{ contract_hospital_package_service.hospital_primary_health_care_coefficient }}">
                                                {% else %}
                                                    <input type="text" name="hospital_primary_health_care_coefficient"class="package-service-customize input-furm"
                                                        value="{{ hospital_package_service_blank.vhi_primary_health_care_coefficient|default_if_none:'' }}">
                                                    
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                        <td class="yellow">
                                            {% if service.is_leaf_node %}
                                                {% if contract_hospital_package_service.hospital_clinical_diagnostic_coefficient %}
                                                    <input type="text" name="hospital_clinical_diagnostic_coefficient"class="package-service-customize input-furm"
                                                        value="{{ contract_hospital_package_service.hospital_clinical_diagnostic_coefficient }}">
                                                {% else %}
                                                    <input type="text" name="hospital_clinical_diagnostic_coefficient"class="package-service-customize input-furm"
                                                        value="{{ hospital_package_service_blank.vhi_clinical_diagnostic_coefficient|default_if_none:'' }}">
                                                    
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                        <td class="yellow">
                                            {% if service.is_leaf_node %}
                                                {% if contract_hospital_package_service.hospital_hospital_coefficient %}
                                                    <input type="text" name="hospital_hospital_coefficient"class="package-service-customize input-furm"
                                                        value="{{ contract_hospital_package_service.hospital_hospital_coefficient }}">
                                                {% else %}
                                                    <input type="text" name="hospital_hospital_coefficient"class="package-service-customize input-furm"
                                                        value="{{ hospital_package_service_blank.vhi_hospital_coefficient|default_if_none:'' }}">
                                                    
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                        


                                        <td class="bg-red">
                                            {% if service.is_leaf_node %}
                                                <input type="text" name="vhi_price" class="package-service-customize input-furm"
                                                    value="{{ contract_hospital_package_service.vhi_price|default:'' }}">
                                            {% endif %}
                                        </td>
                                        <td class="bg-red">
                                            {% if service.is_leaf_node %}
                                                <input type="text" name="vhi_at_home_coefficient" class="package-service-customize input-furm"
                                                    value="{{ contract_hospital_package_service.vhi_at_home_coefficient|default:'' }}">
                                            {% endif %}
                                        </td>
                                        <td class="bg-red">
                                            {% if service.is_leaf_node %}
                                                <input type="text" name="vhi_primary_health_care_coefficient" class="package-service-customize input-furm"
                                                    value="{{ contract_hospital_package_service.vhi_primary_health_care_coefficient|default:'' }}">
                                            {% endif %}
                                        </td>
                                        <td class="bg-red">
                                            {% if service.is_leaf_node %}
                                                <input type="text" name="vhi_clinical_diagnostic_coefficient" class="package-service-customize input-furm"
                                                    value="{{ contract_hospital_package_service.vhi_clinical_diagnostic_coefficient|default:'' }}">
                                            {% endif %}
                                        </td>
                                        <td class="bg-red">
                                            {% if service.is_leaf_node %}
                                                <input type="text" name="vhi_hospital_coefficient" class="package-service-customize input-furm"
                                                    value="{{ contract_hospital_package_service.vhi_hospital_coefficient|default:'' }}">
                                            {% endif %}
                                        </td>
                                        <td style="width: 50px;">
                                           <input type="checkbox" name="is_checked" class="package-service-customize d-none" checked>
                                            <button data-service="{{ service.id }}"
                                                    class="fa fa-trash btn delete-hospital_package_service"></button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block domready %}
    $("#service-table").treetable({
        expandable: true,
        clickableNodeNames: true
    })

    function get_form_data(_this, closest_element, element){
        data = {}
        _this.closest(closest_element).find(element).each(function(){
            var name = $(this).attr('name')
            data[name] = $(this).val()
        })
        return data
    }

    $(document).on("blur", ".package-service-customize", function() {
        data = {}
        var service = $(this).closest('tr').data('tt-id')
        var data = get_form_data($(this), 'tr', '.package-service-customize')
        data['service'] = service
        data['hospital_package'] = "{{ hospital_package.id }}"
        var url = "{% url 'contract_management:hospital_package_service_form' hospital=hospital.id hospital_package=hospital_package.id %}"
        $.ajax({
            url: url,
            type: "POST",
            data: data,
            success: function(data){
                console.log(data)
            }
        })
    })

    $(document).on("click", ".change-status-package", function() {
        if(confirm('Вы точно хотите выполнить, текущее действие?')){
            var status = $(this).data('id')
            var url = "{% url 'contract_management:hospital_package_status_update' pk=hospital_package.id %}"
            $.ajax({
                url: url,
                type: "POST",
                data: {
                    status: status
                },
                success: function(data){
                    location.reload()
                }
            })
        }
        
    })

    

    $(document).on("click", ".delete-hospital_package_service", function() {
        var id = $(this).closest('tr').data('tt-id')
        var service = $(this).data('service')
        var url = "{% url 'hospital_service_management:hospital_package_service_delete' hospital=hospital.id hospital_package=hospital_package.id service=0 %}".replace('0', service)
        $.ajax({
            url: url,
            type: "POST",
            success: function(data){
                $("#service-table").treetable("removeNode", id)
            }
        })
    })
{% endblock %}

