{% load i18n %}

<form action="{% url 'contract_management:pro_med_contract_program_package_delete' contract=contract.id program=program.id pk=object.id %}" method="POST">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle-1">{% trans "Удалить группу" %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    {% csrf_token %}
    <div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <p>{% trans "Название группы:" %} {{ object }}</p>
            <hr>
            <p class="mb-0 color-red"> {% trans "Вы уверены, что хотите удалить" %} "{{ object }}"?   </p>
        </div>

    </div>
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn btn-danger btn-sm" value='{% trans "Удалить" %}'>
        <a href="{% url 'program_management:program_list' %}" class="btn btn-secondary btn-sm">{% trans "Отмена" %}</a>
    </div>
</form>