<form action="{% url 'hospital_service_management:hospital_create' %}" method="POST">
	<div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle-1">Добавить больницу </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    {% csrf_token %}
    {% include "hospital_service_management/hospital/form.html" %}
    <div class="modal-footer">
	    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Отмена</button>
	    <button type="submit" class="btn btn-primary btn-sm">Сохранить</button>
	</div>
</form>