{% load i18n %}

<form action="{% url 'program_management:pro_med_program_create' %}" method="POST">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle-1">{% trans "Добавить новую професии" %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    {% include "program_management/pro_med_program/form.html" %}
    <div class="modal-footer">
	    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">{% trans "Отмена" %}</button>
	    <button type="submit" class="btn btn-primary btn-sm">{% trans "Сохранить" %}</button>
	</div>
</form>