{% extends "base.html" %}
{% load common_tags %}
{% load program_management_tags %}
{% load i18n %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'program_management:pro_med_program_list' %}">{% trans "Cоздать професии" %}</a></li>
{% endblock %}

{% block content %}
<div class="contentbar" style="margin-top: 0;">
  <div class="card" style="padding: 10px;">
      <div class="row align-items-center">
          <div class="col-md-8">
              <input type="text" id="program-search" class="form-control" placeholder='{% trans "Поиск "%}'>
          </div>
          <div class="col-md-4" style="text-align: right;">
            <a href="#" class="btn btn-primary open-universal-modal w-100"
                   data-url="{% url 'program_management:pro_med_program_create' %}">{% trans "+ Создать/Добавить новый професии" %}</a>
          </div>
      </div>
      <div class="row mt-3">
          <div class="col-md-12">
              <div class="table table-responsive m-b-30">
                  <table class="table">
                      <thead class="thead-light">
                          <tr>
                              <th scope="col">{% trans "Названия професии" %}</th>
                              <th scope="col" class="text-center">{% trans "Фабрика" %}</th> 
                              <!-- <th scope="col" class="text-center">{% trans "Страховая премия , манат" %}</th> 
                              <th scope="col" >{% trans "Семейное прикрепление" %}</th> 
                              <th scope="col" style="color: red !important;">{% trans "+ Добавить ограничения" %}</th> -->
                              <th scope="col" style="width:130px;">{% trans "Редактирование" %}</th>

                          </tr>
                      </thead>
                      <tbody id="program-content">
                        {% for program in programs %}
                          {% get_program_restriction program as program_restriction %}
                          <tr>
                            <td>
                              <a class="a-link" href="{% url 'program_management:pro_med_program_package_list' program=program.pk  %}">
                                <span class='folder'>
                                  {{ program.title }}
                                </span>
                              </a>
                            </td>
                            <td class="text-center">
                              {{ program.insurer }}/{{program.insurer.id}}
                            </td>
                            <!-- 
                            <td class="text-center">
                              {% if program_restriction %}
                                {% get_val_by_percent program_restriction program.limit_percent as limit_percent  %}
                                {{ limit_percent|floatformat:2 }}
                              {% endif %}
                            </td>
                            <td class="text-center">
                              {% if program_restriction %}
                                {% get_val_by_percent program_restriction program.premium_percent as premium_percent  %}
                                {{ premium_percent|floatformat:2 }}
                              {% endif %}
                            </td>
                            <td></td>
                            <td></td> -->
                            <td style="text-align: center;">
                              <a href="#" class="open-universal-modal" data-url="{% url 'program_management:pro_med_program_update' pk=program.id %}">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                              </a>
                              &nbsp&nbsp
                              <a href="#" class="open-universal-modal"
                                 data-url="{% url 'program_management:pro_med_program_delete' pk=program.id %}">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                              </a>
                            </td>
                            
                          </tr>
                        {% empty %}
                          <tr align="center">
                            <td colspan="4">{% trans "Данные не найдены!" %}</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>


{% endblock %}

{% block modal %}
  <div class="modal fade bs-example-modal-lg" id="universal-modal" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;">
    <div class="modal-dialog" role="document">
      <div class="modal-content" id="universal-modal-content">

      </div>
    </div>
  </div>
{% endblock %}

{% block domready %}
    $(document).on("click",".open-universal-modal",function() {
      var url = $(this).data('url')
      $.ajax({
        url: url,
        success: function(data){
          $('#universal-modal-content').html(data)
          $('#universal-modal').modal('show')
        }
      })
    })

    $("#program-search").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#program-content tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        })
   })
{% endblock %}

