{% load i18n %}

<form action="{% url 'package_icd_management:package_update'  pk=form.instance.id %}" method="POST">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle-1">{% trans "Изменить название группы" %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    
    	{% include "package_icd_management/package/form.html" %}
    
    <div class="modal-footer">
        <input type="submit" class="btn btn-primary btn-sm" value='{% trans "Сохранить" %}'></a>
    </div>
</form>